@import '../CSS/mixins';

.todo-item {
    padding: 15px 15px 15px 12px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    transition: all .3s;
    position: relative;
    color: #4D4D4D;

    .icon {
        @include icon(30px, 22px);
    }

    .no-toggle {
        user-select: none;
    }

    &-completed {
        text-decoration: line-through;
        color: #ddd;

        .icon {
            opacity: 1;
        }
    }

    & > p {
        margin: 0;
    }

    .close-icon {
        @include icon(12px, 0, 0.5);

        display: none;
        position: absolute;
        top: 15px;
        right: 18px;
        transition: all .3s;
        padding: 10px;

        &:hover {
            opacity: 1;
        }
    }

    &:hover .close-icon {
        display: inline;
    }

    .todo-title {
        font-size: 24px;
        outline: none;
        border: none;
        color: #e86363;
        padding: 0;
        width: 85%;
    }
}