.footer {
    font-size: 14px;
    padding: 14px;
    position: relative;
    color: #777;
    
    .filter {
        position: absolute;
        top: 10px;
        left: 160px;
        
        .filter-mode {
            color: #777;
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 2px;
            padding: 4px 10px;
            margin: 0 8px;
            outline: none;

            &:hover {
                border-color: rgba(250, 175, 175, 0.479);
            }
        }
        
        .active {
            border-color: rgba(250, 175, 175, 0.479);
        }
    }

    .clear-completed {
        float: right;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}