.todo-item {
    padding: 15px 15px 15px 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    transition: all .3s;

    .icon {
        width: 30px;
        height: 30px;
        opacity: 0.1;
    }

    &-completed {
        text-decoration: line-through;
        color: #ddd;

        .icon {
            opacity: 1;
        }
    }

    & > p {
        margin: 0 0 0 30px;
    }
}