@import 'mixins';

.todo-item {
    padding: 15px 15px 15px 12px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    transition: all .3s;

    .icon {
        @include icon(30px);
    }

    &-completed {
        text-decoration: line-through;
        color: #ddd;

        .icon {
            opacity: 1;
        }
    }

    & > p {
        margin: 0;
        padding-bottom: 2px;
    }
}